<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Log into github</title>
  </head>
  <body>
    <div id="center">
      <p id="login-text">
        Log in with GitHub to view this content 
        <a class="button" href="{{ githubLoginUrl }}">
          <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/600px-GitHub_Invertocat_Logo.svg.png"/>Log into GitHub
        </a>
      </p>
    </div>
  </body>
</html>